---
layout: base.njk
page_id: contact
background: contact
permalink: /contact/
---
<div class="content">
  <div class="contact-grid">
    <div class="contact-info mdc-card">
      <h1>Hamilton, ON</h1>
      <p>Connect with us online or meet up for a coffee!</p>
      <ul id="social-bar">
        <li>
          <a href="mailto:tomkatcreative@gmail.com"><span class="fa-solid fa-envelope"></span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/tomkatcreative/"><span class="fa-brands fa-instagram"></span></a>
        </li>
        <li>
          <a href="https://github.com/Garrison88"><span class="fa-brands fa-github"></span></a>
        </li>
      </ul>
      <style>
        .bmc-button img {
          width: 35px !important;
          margin-bottom: 1px !important;
          box-shadow: none !important;
          border: none !important;
          vertical-align: middle !important;
        }
        .bmc-button {
          padding: 7px 10px 7px 10px !important;
          line-height: 35px !important;
          height: 51px !important;
          min-width: 217px !important;
          text-decoration: none !important;
          display: inline-flex !important;
          color: #ffffff !important;
          background-color: #f48484 !important;
          border-radius: 5px !important;
          border: 1px solid transparent !important;
          font-size: 28px !important;
          letter-spacing: 0.6px !important;
          box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
          margin: 0 auto !important;
          font-family: "Cookie", cursive !important;
          box-sizing: border-box !important;
          transition: 0.3s all linear !important;
        }
        .bmc-button:hover,
        .bmc-button:active,
        .bmc-button:focus {
          text-decoration: none !important;
          box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
          opacity: 0.85 !important;
          color: #ffffff !important;
        }
      </style>
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/tomkatcreative">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy us a coffee">
        <span style="margin-left:15px;font-size:28px !important;">Buy us a coffee</span>
      </a>
    </div>
    <div class="contact-gif">
      <img src="/img/jellyegg-contact.gif" alt="Jellyegg animation">
    </div>
  </div>
</div>
